.project {
    text-align: center;
}

.project-bg {
    background-color: var(--first-color-second);
    padding-top: 3rem;
}

.project-title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project-description {
    margin-bottom: var(--mb-1-5);
}

.project-title,
.project-description {
    color: #fff;
}

.project-img {
    width: 232px;
    justify-self: center;
}