.skills {
    width: 100%;
    margin-bottom: 50px;
}

.skills-content {
    margin-top: 25px;
}

.skills-list {
    padding-left: 15px;
}

// .skills-container {}
.skills-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.skills-icon,
.skills-arrow {
    font-size: 35px;
    color: var(--first-color);
}

.skills-icon {
    margin-right: 15px;
}

.skills-arrow {
    margin-left: auto;
    transition: .4s;
    cursor: pointer;
}

.skills-title {
    font-size: var(--h1-font-size);
}

.skills-title:hover {
    color: var(--first-color-alt);
}

.skills-subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skills-name {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

.skills-percentage,
.skills-bar {
    border-radius: 4px;
    height: 5px;
}

.skills-bar {
    position: relative;
    top: -15px;
    background-color: var(--first-color-lighter);
}

.skills-percentage {
    display: block;
    background-color: var(--first-color);
}

.skills-html {
    width: 90%;
}

.skills-css {
    width: 80%;
}

.skills-javascript {
    width: 60%;
}

.skills-angular {
    width: 85%;
}

.skills-php {
    width: 80%;
}

.skills-node {
    width: 70%;
}

.skills-firebase {
    width: 90%;
}

.skills-pyhton {
    width: 55%;
}

.skills-figma {
    width: 90%;
}

.skills-sketch {
    width: 85%;
}

.skills-photoshop {
    width: 85%;
}

.skills-close .skills-list {
    height: 0;
    overflow: hidden;
}

.skills-open .skills-list {
    height: max-content;
    margin-bottom: 10px;
    transition-duration: 5ms;
}

.skills-open .skills-arrow {
    transform: rotate(-180deg);
}